name: PHP Composer

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Validate composer.json and composer.lock
      run: composer validate --strict

    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v3
      with:
        path: vendor
        key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-php-

    - name: Setup PHP  
      uses: shivammathur/setup-php@v2  
      with:  
        php-version: '8.3'  
        extensions: http

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress

    # Add a test script to composer.json, for instance: "test": "vendor/bin/phpunit"
    # Docs: https://getcomposer.org/doc/articles/scripts.md

    - name: Run local server suite
      run: php -S 127.0.0.1:8000 -t tests/server 2>&1
    - name: Run proxy srver
      run: php -S 127.0.0.1:8000 -t tests/proxy-server 2>&1
    - name: Run tests suite
      run: vendor/bin/codecept run Unit
